/* Empty. Add your own CSS if you like */
ion-view{
  background-image: url(../img/mabin20_10_16_4.png);
  background-size: cover

}

.bg2{
  background-image: url(../img/mabin20_10_16_3.png);
  background-size: cover
}
